<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>  
    <%-include('./inc/nav')%>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
     Velit sit quo ut praesentium impedit perferendis in maiores. Voluptatum, officiis numquam!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Velit sit quo ut praesentium impedit perferendis in maiores. Voluptatum, officiis numquam!
    </p>
</body>
</html>