<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <ul>
            <li>
                <a href="#">Blog 1</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint consequatur commodi voluptatibus facere!
                Sunt, vero corrupti a consectetur quibusdam eveniet,
                cumque at culpa sint aliquam voluptates dignissimos fugiat esse labore.
                </p>
            </li>
        </ul>
    </section>
</body>
</html>